/*normalize*/
@import url(./vendor/normalize.css);

/*fonts*/
@import url(./vendor/mulish.css);

.page {
  min-width: 320px;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  font-family: 'Mulish', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__intro {
  padding-left: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.header__nav-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20px;
  height: 17px;
  background-color: transparent;
  border: none;
  padding: 1px 0 0 2px;
  cursor: pointer;
}

.header__nav-button:hover {
  opacity: 0.6;
}

.header__nav-icon {
  width: 100%;
  height: 3px;
  background-color: #000;
}

.header__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 116px;
  height: 25px;
  padding: 2px 0 0 1px;
}

.header__search {
  max-width: 830px;
  width: 100%;
  height: 44px;
  margin: 0 473px 0 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
}

.header__input {
  padding: 0;
  min-width: 75px;
  width: 100%;
  height: 44px;
  border: none;
  padding-left: 23px;
  line-height: 20.08px;
}

.header__input:focus {
  outline: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.header__search-button {
  padding: 0;
  width: 58px;
  height: 44px;
  border: none;
  background-color: transparent;
  background-image: url('./images/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.header__icons {
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header__phone {
  padding: 0;
  border: none;
  width: 27px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}

.header__services {
  padding: 0;
  border: none;
  width: 21px;
  height: 21px;
  background-color: transparent;
  cursor: pointer;
}

.header__bell {
  padding: 0;
  border: none;
  width: 22px;
  height: 26px;
  background-color: transparent;
  cursor: pointer;
}

.header__bell-number {
  width: 18px;
  height: 18px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  position: relative;
  bottom: 37px;
  left: 8px;
}

.header__user {
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-right: 38px;
  cursor: pointer;
}

.menu {
  padding: 50px 0 0 32px;
  max-width: 134px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 29px;
}

.menu__button {
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 13px;
}

.menu__home-image {
  width: 20px;
  height: 19px;
}

.menu__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.08px;
  color: #898989;
}

.menu__text-home {
  color: #ff0000;
  padding: 0;
  text-shadow: none;
}

.menu__text-shadow {
  padding-left: 2px;
  text-shadow: 0 3px 8px;
}

.menu__trending-image {
  width: 16px;
  height: 21px;
  padding-left: 2px;
}

.menu__subscriptions-image {
  width: 18px;
  height: 18px;
}

.menu__control {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 29px;
}

.menu__library-image {
  width: 20px;
  height: 16px;
}

.menu__history-image {
  width: 20px;
  height: 18px;
}

.menu__watch-image {
  width: 17px;
  height: 19px;
  margin-left: 2px;
}

.menu__favourites-image {
  width: 19px;
  height: 18px;
  margin-right: 1px;
}

.menu__liked-image {
  width: 18px;
  height: 17px;
  margin-right: 2px;
}

.menu__music-image {
  width: 18px;
  height: 20px;
  margin-right: 2px;
}

.menu__games-image {
  width: 22px;
  height: 16px;
  padding-top: 2px;
  margin-right: -2px;
}

.menu__more-image {
  width: 14px;
  height: 8px;
  padding: 7px 4px 0 2px;
}

.subscriptions {
  padding: 58px 0 0 30px;
  max-width: 159px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscriptions__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.59px;
}

.subscriptions__users {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.subscriptions__user {
  height: 26px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.subscriptions__user-image {
  width: 26px;
  height: 26px;
}

.subscriptions__user-name {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #898989;
}

.main {
  box-sizing: border-box;
  max-width: 1700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 66px;
}

.main__user-container {
  max-width: 205px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__user {
  max-width: 1516px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__avatar {
  width: 50px;
  height: 50px;
}

.main__user-name {
  margin: 0;
  font-size: 26px;
  line-height: 32.63px;
  font-weight: 700;
}

.main__slider {
  padding-top: 24px;
  width: 66px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.main__button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url('./images/left.png');
}

.main__button:last-child {
  background-image: url('./images/right.png');
}

.video {
  padding-top: 28px;
  display: flex;
  gap: 40px;
}

.video__card {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.video__preview {
  width: 250px;
  height: 150px;
  background-image: url('./images/cover1.png');
}

.video__duration {
  margin: 0;
  width: 47px;
  height: 24px;
  border-radius: 12px;
  color: #ffffff;
  font-size: 14px;
  line-height: 17.57px;
  background-color: #000000;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 116px;
  left: 193px;
}

.video__name {
  margin: 10px 0 4px 0;
  font-size: 16px;
  line-height: 20.08px;
  font-weight: 700;
  color: #19202c;
}

.video__info {
  display: flex;
  justify-content: space-between;
}

.video__views {
  width: 144px;
  margin: 0;
  font-size: 13px;
  line-height: 16.31px;
  color: #c2c2c2;
}

.video__point {
  margin: 0 3px 0 3px;
}

.video__user {
  margin: 0;
  font-size: 13px;
  line-height: 16.31px;
  color: #c2c2c2;
}

.footer {
  max-width: 1800px;
}
